extends layout

block content

  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.mb-4
    a.navbar-brand(href='#') Prueba Tecnica
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarCollapse' aria-controls='navbarCollapse' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarCollapse.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='/') Home 
        li.nav-item
          a.nav-link(href='cambio_divisas') 
            | Divisas
            span.sr-only (current)
      form.form-inline.mt-2.mt-md-0
        input.form-control.mr-sm-2(type='text' placeholder='Buscar' aria-label='Buscar')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Buscar
  main.container(role='main')
    .jumbotron
      h1 Conversor Divisas
      p.lead
        | Estás en la página Conversor de divisas

    .container
    div.form-group
    form(action="/resultado",method = "get")
      table 
            .row.modal-body.row
                div.col-md-6 
                    .col-xs-3(title="EUR")
                        h2.display-2.text-center#lblEUR EUR
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text €
                                span.input-group-text 0,00
                            input.form-control.decimales(type="number",name="txtEUR",value="")#txtEUR
                div.col-md-6         
                    .col-xs-3(title="USD")
                        h2.display-2.text-center#lblUSD USD
                        div.input-group.mb-3
                            div.input-group-prepend
                                span.input-group-text $
                                span.input-group-text 0,00
                            input.form-control.decimales(type="number",name="txtUSD" disabled)#txtUSD
            .row(colspan=2 title)
                div.col.text-center
                    input.btn-outline-dark.btn-lg(type="submit",text="Calcular", value="Calcular")#btnConvertir
    hr

    